<!DOCTYPE html>
<html lang="en">
<head>
<!-- include libraries(jQuery, bootstrap) -->
<link href="{{ url_for('static', filename='scripts/bootstrap-3.3.7-dist/css/bootstrap.css') }}" rel="stylesheet">

     <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.3.1/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bootstrap-3.3.7-dist/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>

<!-- include summernote css/js -->
<link href="{{ url_for('static', filename='scripts/summernote-0.8.9/summernote.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='scripts/summernote-0.8.9/summernote.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/summernote-image-attributes-master/summernote-image-attributes.js') }}"></script>
<!-- <script src="scripts/js/summernote-image-attributes-master/lang/[language-COUNTRY].js"></script>  -->

 <!-- <script src="{{ url_for('static', filename='scripts/my_own_script.js') }}">-->

<link rel="stylesheet" href="{{ url_for('static', filename='scripts/jquery-confirm-master-3.3.0/dist/jquery-confirm.min.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-confirm-master-3.3.0/dist/jquery-confirm.min.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/init.js') }}"></script>

</head>
<body>
 <!-- include libraries(jQuery, bootstrap) -->
{% block javascript %}

{% endblock %}
<div class="container">
     <form id="backend_form" class="form-group" action="/admin" method="POST" enctype="multipart/form-data">
<fieldset>
    <legend>Manage your shul-luach:</legend>
        {{ backend_form.csrf_token }}
        {{ backend_form.select_cell_to_edit}}
        {{backend_form.summernote }}
        <!--{{backend_form.textFromSummernote }}-->




</fieldset>
    </form>

{{ backend_form.save_button(class_='btn btn-success') }}
    {{ backend_form.save_button.label }}

<hr>
    {{ backend_form.backup_button(class_='btn btn-success') }}
     <p>
     {{ backend_form.restore_select.label }}
    {{ backend_form.restore_select (class_='.form-control')}}
         {{ backend_form.restore_button(class_='btn btn-success') }}</p>
    <p>{{ backend_form.reset_and_clear_button(class_='btn btn-success') }}</p>

     <br><br><br>
</div>

<script>
    $(document).ready(function() {
document.getElementById("save_button").disabled = ($( "#select_cell_to_edit" ).val().length==0);
    socket.on('fill summernote panel', function(summernoteContent){
        console.log(summernoteContent);
        $('#summernote').summernote('code', summernoteContent);
     });

     socket.on('send alert to backend.html', function(msg){
        $.alert(msg);
     });

     socket.on('backup added', function(new_backup_dir){
        console.log(new_backup_dir);
        $('#restore_select').append($('<option>', {
    value: new_backup_dir,
    text: new_backup_dir
}));
     });  //until here socket.on('backup added', function(new_backup_dir){

     socket.on('backup restored', function(){
        socket.emit('fill all content');
        current_select_cell_value=$( "#select_cell_to_edit" ).val();
            socket.emit('select_event_raised', current_select_cell_value);
     });  //until here socket.on('backup restored'

socket.on('reset done', function(){
        $('#select_cell_to_edit option')[0].selected = true;
        $('#summernote').summernote('code', '');

     });  //until here socket.on('reset done'


        $('#summernote').summernote({
  height: 300,                 // set editor height
  minHeight: null,             // set minimum height of editor
  maxHeight: null,             // set maximum height of editor
  focus: true,                  // set focus to editable area after initializing summernote

  toolbar: [
    ['undo', ['undo']],
    ['redo', ['redo']],
    ['clear', ['clear']],
    ['ol', ['ol']],
    ['ul', ['ul']],
    ['strikethrough', ['strikethrough']],
    ['superscript', ['superscript']],
    ['subscript', ['subscript']],
    ['style', ['style']],
    ['fontsize', ['fontsize']],
    ['font', ['bold', 'italic', 'underline', 'clear']],
    ['fontname', ['fontname']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']],
    ['insert', ['picture', 'hr']],
    ['table', ['table']],
    ['codeview', ['codeview']],
    ['fullscreen', ['fullscreen']],

    ['help', ['help']],
  ],
  fontSizes: ['8', '9', '10', '11', '12', '14', '18', '24', '36', '48' , '64', '82', '150'],
  popover: {
            image: [
                ['custom', ['imageAttributes']],
                ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
        },
        lang: 'en-US', // Change to your chosen language
        imageAttributes:{
            icon:'<i class="note-icon-pencil"/>',
            removeEmpty:false, // true = remove attributes | false = leave empty if present
            disableUpload: true // false = don't display Upload Options | Display Upload Options
        }







});



        var before_change_select_cell_value =$( "#select_cell_to_edit" ).val();
        $( "#select_cell_to_edit" ).change(function() {
            document.getElementById("save_button").disabled = ($( "#select_cell_to_edit" ).val().length==0);


if (before_change_select_cell_value.length == 0){
if ($( "#select_cell_to_edit" ).val().length==0){
document.getElementById("save_button").disabled = true;
$('#summernote').summernote('code', '');
}
else {
            before_change_select_cell_value=$( "#select_cell_to_edit" ).val();
            socket.emit('select_event_raised', $( "#select_cell_to_edit" ).val());
}//until here if ($( "#select_cell_to_edit" ).val().length==0)
}
        else {


  //the confirm buttons
  $.confirm({
    title: 'Save the file!',
    content: 'Did you save the file?  If you did not, you may loose valuable work!',
    buttons: {
        confirm: {
            text: 'Ok',
            btnClass: 'btn-blue',
            keys: ['enter', 'shift'],
            action: function(){
                //$.alert('Confirmed!');
            before_change_select_cell_value=$( "#select_cell_to_edit" ).val();
            socket.emit('select_event_raised', $( "#select_cell_to_edit" ).val());
            }
        },
        cancel: {
            text: 'Cancel',
            btnClass: 'btn-blue',
            keys: ['enter', 'shift'],
            action: function(){
                //$.alert('Cancelled!');
                console.log('cancelled: '+before_change_select_cell_value)
                $( "#select_cell_to_edit" ).val(before_change_select_cell_value)
                document.getElementById("save_button").disabled = ($( "#select_cell_to_edit" ).val().length==0);
            }
        }
    }
}); //end the confirm buttons
} //end the if (current_select_cell_value.length == 0)


});


        $('#save_button').on('click', function() {
        var markupStr = $('#summernote').summernote('code')
        select_cell_value=$( "#select_cell_to_edit" ).val()
        console.log('length: '+select_cell_value.length)
        if (select_cell_value.length > 0){
            socket.emit('fill specific cell',select_cell_value,markupStr);
            socket.emit('save content to file',select_cell_value,markupStr);
        }

            //$('#textFromSummernote').val(markupStr);
	    }); //until here save_button on click

$('#backup_button').on('click', function() {

            socket.emit('create backup');
 }); //until here backup_button on click

	           $('#restore_button').on('click', function() {
	           //the confirm buttons
  $.confirm({
    title: 'Are you sure!',
    content: 'Do you really want to do restore? YOu may want to save and backup it first',
    buttons: {
        confirm: {
            text: 'Ok',
            btnClass: 'btn-blue',
            keys: ['enter', 'shift'],
            action: function(){
                //$.alert('Confirmed!');
                select_cell_value= $("#restore_select option:selected").index();
	           console.log(select_cell_value)
	           if (select_cell_value > 0){
            socket.emit('restore specific backup',$( "#restore_select" ).val());
        } //until here if (select_cell_value.length > 0)
            }
        },
        cancel: {
            text: 'Cancel',
            btnClass: 'btn-blue',
            keys: ['enter', 'shift'],
            action: function(){
                //$.alert('Cancelled!');
                console.log('cancelled: '+current_select_cell_value)
                $( "#select_cell_to_edit" ).val(current_select_cell_value)
            }
        }
    }
}); //end the confirm buttons
 }); //until here restore_button on click

$('#reset_and_clear_button').on('click', function() {
	           //the confirm buttons
  $.confirm({
    title: 'Are you sure!',
    content: 'Do you really want to do reset and clear? YOu may want to save and backup it first',
    buttons: {
        confirm: {
            text: 'Ok',
            btnClass: 'btn-blue',
            keys: ['enter', 'shift'],
            action: function(){
                //$.alert('Confirmed!');
            socket.emit('reset and clear');

            }
        },
        cancel: {
            text: 'Cancel',
            btnClass: 'btn-blue',
            keys: ['enter', 'shift'],
            action: function(){
                //$.alert('Cancelled!');
                console.log('cancelled: '+current_select_cell_value)
                $( "#select_cell_to_edit" ).val(current_select_cell_value)
            }
        }
    }
}); //end the confirm buttons
 }); //until here reset_and_clear_button on click


    });  //$(document).ready(function()
  </script>
</body>
</html>