<!DOCTYPE html>
<html lang="en">
<head>
<!-- include libraries(jQuery, bootstrap) -->
<link href="{{ url_for('static', filename='scripts/bootstrap-4.1.1-dist/css/bootstrap.css') }}" rel="stylesheet">


<!-- include summernote css/js -->
    <link href="{{ url_for('static', filename='scripts/summernote-0.8.9/summernote.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/socket.io/socket.io.js') }}"></script>
  <!-- include libraries(jQuery, bootstrap) -->
     <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.3.1/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap-4.1.1-dist/js/bootstrap.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Text-Scrolling-Plugin-for-jQuery-Marquee/jquery.marquee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Text-Scrolling-Plugin-for-jQuery-Marquee/jquery.pause.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Text-Scrolling-Plugin-for-jQuery-Marquee/jquery.easing.js') }}"></script>



<script src="{{ url_for('static', filename='scripts/init.js') }}"></script>
 <script src="{{ url_for('static', filename='scripts/frontend.js') }}"></script>

    <style>
#shul_table {
    max-height:100vh; /*vh stands for view-port height, 1vh is 1% of screen height*/

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}




</style>
</head>
<body>


<div id="shul_table" class="table-responsive" >
<table class="table table-bordered">

    <thead>
    <tr>
      <th id="header" colspan="3"></th>
   </tr>
  </thead>
    <tfoot>
    <tr>
      <td colspan="3" align="right">developed by Gershon S. Lehrer (testing)</td>
    </tr>
  </tfoot>
<tbody>
<tr>
<td id="left_1"></td>
<td id="middle_1"></td>
<td id="right_1"></td>
</tr>
<tr>
<td id="left_2"></td>
<td id="center_big" rowspan=2 class="align-middle text-center"></td>
<td id="right_2"></td>
</tr>
<tr>
<td id="left_3"></td>
<td id="right_3"></td>
</tr>
<tr>
<td id="left_4" class="marquee" height="10px"></td>
<td id="middle_4"></td>
<td id="right_4"></td>
</tr>

</tbody>
</table>
</div>

</body>
</html>